img {
  width:260px;
  height:260px;
  border: 4px solid white;
  border-image: 
    linear-gradient(
      to bottom, 
      rgba(0, 0, 0, 0), 
      red
    ) 1 20%;
}

.btn-success {
  background-color: #3b7d4a!important;
}

.btn-success:hover {
  background-color: #4daf64!important;
}
